@import "../../public/assets/scss/colors.scss";

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 85%; }
}

.fade-in {
  animation: fadeIn 3s;
}

body {
  counter-reset: h2-counter; /* Initialize counter */
}

div#main_background {
  background-image: url(../../public/assets/img/down-s-min.jpg);
  background-position: 70%;
  background-size: cover;
  filter: grayscale(40%) contrast(130%) brightness(95%);
  opacity: 0.85;
  height: 100vh;
  margin-bottom: 30px;
  & p {
    font-family: azhdar-heavy, serif;
    color: #ebf0bb;
    background-color: rgba(0, 0, 0, 0.40);;
    font-size: 27px;
    padding: 20px;
    position: relative;
    text-align: center;
    top: 5%;
    &.supreme {
      top: 30%;
      color: yellow;
    }
  }
}

a.checklist {
  border: 2px solid $shadow;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  font-size: 150%;
  padding: 25px 20px 25px 20px;
  margin: 15px 20px 15px 20px;
  &:focus {
    border:  5px solid red;
  }
  & i {
    margin-left: 11px;
  }
  &:hover {
    background-color: black;
    color: white;
  }
}

.flex-container {
  flex-direction:column;
}

.main_p {
  font-family: yekan, serif;
  &:first-of-type {
    direction: ltr;
    font-family: azhdar-heavy, serif;
  }
  font-size: 28px;
  line-height: 170%;
  margin: 25px;
  text-align: center;
  white-space: pre-line;
  // &:nth-of-type(3){
  //   color: darkred;
  // }
  &:last-of-type {
    font-size: 24px;
    text-align: right;
  }
}

.home-summary {
  margin: 20px 0 10px 0;
  img, div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 
  div {
    display: block;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
  }
}

.cnstr {
  text-align: center;
  font-size: 25px;
  margin: 10px 20px;
  img{
    width: 30%;
  }
}

video {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 90%;
}

@media (min-width: 450px) {
  div#main_background {
    background-position: center;
    & p {
      font-size: 45px;
      top: 15%;
      &.supreme {
        top: 40%;
      }
    }
  }

  a.checklist {
    float: left;
    width: 30%;
    font-size: 230%;
  }

  .flex-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 60px 0 60px 0;
  }

  .main_p {
    font-size: 40px;
    &:last-of-type {
      font-size: 33px;
      margin-left: auto;
      margin-right: auto;
      text-align: right;
      width: 70%;
    }
  }

  .home-summary {
    flex-basis: 25%;
    float:right;
    img, div {
      width: 60%;
    } 
    div {
      font-size: 28px;
      margin-top: 20px;
    }
  }
  .cnstr {
    text-align: center;
    font-size: 25px;
    margin: 10px 20px;
    img{
      width: 15%;
    }
  }
  
  video {
    width: 60%;
  }
}