@import "../../public/assets/scss/colors.scss";

#breadcrump {
    direction: rtl;
    display: block;
    background: white;
    font-size: 20px;  
    position: relative;
    top: 24px;
    padding: 20px;
    width: 100%;
    a {
        border: 2px solid $green;
        border-radius: 24px;
        color: $green;
        margin: 0px 0px;
        padding: 3px 12px;
        text-decoration: none;
        transform: skew(20deg);
    }
    a:hover {
        background-color: $green;
        color: white;
    }
    &:focus{
        border:  5px solid red;
    }
}

@media (min-width: 450px) {

}