@import "../../public/assets/scss/colors.scss";

nav {
  display: flex;
  font-family: azhdar-bold, serif;
  margin: 10px;
  position: absolute;
  right: 0;
  width: 95%;
  a {
    background-color: $light-green;
    border-radius: 15px;
    box-shadow: 2px 2px 2px $shadow ;
    color: $shadow;
    flex-grow: 3.5;
    font-size: 18px;
    font-family: 'azhdar-heavy', serif ;
    margin: 0 0 0 3px;
    padding: 8px 12px 8px 8px;
    text-align: right;
    text-decoration: none;
  }
  a:hover, a:focus{
    background-color: #EAAECA;
  }
  :last-child  {
    flex-grow: 0.5;
    padding-right: 6px;
    text-align: center;
  }
}

@media (min-width: 450px) {
  nav {
    display: inline-flex;
    left: auto;
    margin: 45px 0 0 0;
    position: relative;
    right: auto;
    width: 75%;
    a {
      font-size: 21px;
    }
  }
}