@import "../../public/assets/scss/colors.scss";

h1 {
    font-family: yekan, serif;
    font-size: 35px;
    text-align: center;
}

h2 {
    background-color: $blue;
    border: 4px solid #176192;
    color: white;
    font-size: 5vw;
    font-family: Nazanin, serif;
    margin: 0px 15px;
    padding: 5px;
}

.design-p1 {
    font-size: 23px;
    margin: 0px 25px 15px 25px;
    text-align: justify;
}

.design-item {
    border: 2px solid $blue;
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 7px;
    margin: 0px 15px 65px 15px;
    text-align: justify;
    white-space: pre-line;
    p {
        margin: 22px;
    }
    i {
        margin-left: 5px;
    }
    #limit {
        font-family: yekan, serif;
        font-weight: bold;
        margin: 10px;
        margin-bottom: 15px;
    }
    .wrongExp div {
        color: red;
        margin-right: 10px;
        margin-top: 20px;
    }
    .wrongExp hr {
        background-color: red;
        border: none;
        height: 1px;
    }
    .rightExp div {
        color: green;
        margin-top: 20px;
        margin-right: 10px;
    }
    .rightExp hr {
        background-color: green;
        border: none;
        height: 1px;
    }
    .link {
        margin: 25px 10px 20px 10px;
        font-family: yekan, serif;
        font-weight: bold;
        a {
            // font-family: nazanin, serif;
            display: block;
            margin-top: 10px;
            text-decoration: none;
        }
    }
    figure {
        text-align: center;
    }
    img {
        width: 90%;
    }
}

/*contrast*/
.design-item:nth-of-type(1) {
    .wrongExp p{ 
        background-color: #E3E3E3;
        color: #7878E8;
        display: inline;
    }
    .rightExp p{ 
        background-color: #F0F0F0;
        color: #3F3FDE;
        display: inline;
    }
}
/*colors*/
.design-item:nth-of-type(3) {
    .wrongExp p:hover, .wrongExp p:focus{ 
        color: purple;
    }
    .rightExp p:hover, .rightExp p:focus{ 
        color: purple;
        text-decoration: underline;
        font-weight: bold;
    }
}

@media (min-width: 450px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 25px;
        margin: 0px 45px;
        padding: 5px;
        max-width: 70%;
    }
    .design-p1 {
        font-size: 20px;
    }
    .design-item {
        font-size: 18px;
        max-width: 70%;
        margin: 0px 45px 45px 45px;
        figure {
            text-align: right;
        }
        img {
            width: 35%;
        }
    }
    }

