@import "../../public/assets/scss/colors.scss";

h1 {
    font-family: yekan, serif;
    font-size: 35px;
    text-align: center;
    padding: 55px 30px 30px 30px;
}

h2 {
    background-color: $blue;
    border-bottom: 4px solid white;
    color: white;
    counter-increment: h2-counter;
    cursor: -webkit-grab;
    cursor: grab;
    display: flex;
    font-size: 5vw;
    font-family: Nazanin, serif;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 15px;
    padding: 10px 5px;
    div {
        width: 80%;
    }
    .accordion {
        align-self: center;
        text-align: center;
        width: 10%;
        padding: 10px 6px;
    }
}

h2 div::before {
    content: counter(h2-counter) ". ";
    padding-right: 7px;
}

.design-p1 {
    font-size: 23px;
    margin: 0px 35px 35px 35px;
    text-align: justify;
    white-space: pre-line;
}

.design-item {
    // border: 2px solid $blue;
    font-size: 20px;
    line-height: 1.5;
    padding: 0px 7px 5px 0px;
    margin: 0px 15px 10px 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.0s ease-out;
    white-space: pre-line;
    p {
        margin: 22px;
        line-height: 33px;
    }
    i {
        margin-left: 5px;
    }
    #limit {
        font-family: yekan, serif;
        font-weight: bold;
        margin: 10px;
        margin-bottom: 15px;
    }
    .wrongExp div {
        color: red;
        margin-right: 10px;
        margin-top: 20px;
    }
    .wrongExp hr {
        background-color: red;
        border: none;
        height: 1px;
    }
    .rightExp div {
        color: green;
        margin-top: 20px;
        margin-right: 10px;
    }
    .rightExp hr {
        background-color: green;
        border: none;
        height: 1px;
    }
    .link {
        margin: 25px 10px 20px 10px;
        font-family: yekan, serif;
        font-size: 22px;
        font-weight: bold;
        a {
            // font-family: nazanin, serif;
            display: block;
            margin-top: 10px;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
    }
    &:focus{
        border:  5px solid red;
    }

    }
    figure {
        text-align: center;
    }
    img {
        width: 90%;
    }
    pre, code {
        width: 80%;
        white-space: pre-wrap !important; 
        direction: ltr;
    }
}

div#download {
    border: 2px solid $green;
    border-radius: 6px;
    font-size: 18px;
    line-height: 2.5;
    margin: 15px;
    padding: 10px 12px;
    text-align: center;
    a {
        background-color: $green;
        border: 2px solid $green;
        border-radius: 6px;
        color: white;
        font-size: 22px;
        padding: 5px;
        text-decoration: none;
    }
    span {
        font-size: 16px;
    }
}

/*contrast*/
.design-item:nth-of-type(1) {
    .wrongExp p.des{ 
        background-color: #E3E3E3;
        color: #7878E8;
        display: inline;
    }
    .rightExp p.des{ 
        background-color: #F0F0F0;
        color: #3F3FDE;
        display: inline;
    }
}
/*colors*/
.design-item:nth-of-type(3) {
    .wrongExp p:hover, .wrongExp p:focus{ 
        color: purple;
    }
    .rightExp p:hover, .rightExp p:focus{ 
        color: purple;
        text-decoration: underline;
        font-weight: bold;
    }
}

@media (min-width: 450px) {
    h1 {
        font-size: 50px;
        margin-top: 65px;
    }
    h2 {
        font-size: 25px;
        margin: 0px 45px;
        width: 80vw;
    }
    .design-p1 {
        font-size: 20px;
    }
    .design-item {
        font-size: 18px;
        width: 80vw;
        margin: 0px 45px 10px 45px;
        figure {
            text-align: right;
        }
        pre, code, img {
            width: 70%;
        }
        img.single {
            width: 55%;
        }
        .flexContent {
            flex-direction: row;
            display: flex;
            flex-wrap: wrap;
        }
        .wrongExp, .rightExp{
            width: 45%;
        }
    }

    div#download {
        margin: 30px 45px 40px 45px;
        width: 45vw;
        font-size: 24px;
    }
}

