body {
  direction:rtl;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: yekan;
  src: url(assets/fonts/Yekan.ttf);
}

@font-face {
  font-family: azhdar;
  src: url(assets/fonts/Azhdar-Regular.ttf);
}

@font-face {
  font-family: azhdar-bold;
  src: url(assets/fonts/Azhdar-Bold.ttf);
}

@font-face {
  font-family: azhdar-heavy;
  src: url(assets/fonts/Azhdar-Black.ttf);
}
